:host {
  display: flex;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  display: flex;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 calc(50vw - 640px);
  margin-top: 2rem;
  @media screen and (max-width: 992px){
    flex-direction: column-reverse;
    .mat-card{
      max-width: 80%;
      width: 100%;
      margin: 0 auto 1rem;
    }
  }
}
.header {
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  padding: 0 calc(50vw - 640px);
  z-index: 999;
  height: 8.0625rem;
  background: white;
  width: 100%;
  .back {
    text-decoration: none;
      color: rgba(0,0,0,0.4);
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      line-height: 24px;
      font-weight: 500;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      padding: 10px 20px 12px;
      position: relative;
      text-align: center;
      transition: .2s;
      display: inline-flex;
      align-content: center;
      align-items: center;
      &:hover {
          color: rgba(0,0,0,0.6);
      }
  }
  h2 {
      font-weight: 500;
      color: #525252;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-size: 32px;
      width: 100%;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
}
.price {
  // min-width: 40px;
}
mat-form-field {
  width: 100%;
}
mat-card {
  width: 45%;
  &:first-child {
    margin-right: .5rem;
    width: 45%;
  }
}
h2 {
  font-weight: 300;
}
mat-select {
  // margin-top: 25px;
  width: 100%;
}
mat-radio-button {
  width: 100%;
}
mat-card-actions {
  display: flex;
}
[mat-icon-button] {
    color: #999;
}

[mat-raised-button] {
  width: 100%;
  background-color: #2fdab8;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  mat-icon {
    margin-left: .5rem;
  }
}
.products {
  display: flex;
  list-style: none;
  width: 100%;
  flex-wrap: wrap;
  li {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    display: inline-flex;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 640px){
      height: auto;
      max-height: 300px;
      flex-wrap: wrap;
    }

    .products__header{
      width: 70%;
      display: flex;
      align-items: center;
      @media screen and (max-width: 640px){
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
      }
    }

    .products__bottom{
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 640px){
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
    }

    &.no_border {
      border-bottom: none;
      @media screen and (max-width: 640px){
        .extender{
          display: none;
        }
      }
    }
    img {
      height: 100%;
    }
    p.name {
      width: 100%;
    }
    p.count {
      margin: 0;
      padding: 0;
    }
    p {
      padding: .7rem;
      margin: 0 1rem;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
.extender {
  flex: 1 1 auto;
}