<section class="header">
  <a class="back" routerLink="/cart">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span>Назад в корзину</span>
  </a>
  <h2>Підтвердження зaмовлення</h2>
</section>
<div class="container">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field>
          <!-- <h2>Способ доставки</h2> -->
          <mat-select placeholder="Спосіб доставки" formControlName="typeof_delivery">
            <mat-option value="Кур'єром">Кур'єром (від 40грн)</mat-option>
            <mat-option value="Самовивіз">Самовивіз (безкоштовно)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <!-- <h2>Способ Oplati</h2> -->
          <mat-select placeholder="Спосіб оплати" formControlName="typeof_payment">
            <mat-option value="Готівкою кур'єру">Готівкою кур'єру</mat-option>
            <mat-option value="Переказ на карту">Переказ на карту</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <h2>Данные получателя</h2> -->
        <mat-form-field>
          <input matInput placeholder="Прізвище Ім'я" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Телефон" formControlName="phone">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Адреса доставки" formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Електронна пошта" formControlName="email">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit">Замовити</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <mat-card>
    <ul class="products">
      <li *ngFor="let item of order.product_list">
        <div class="products__header">
          <img src="item.images[0].image" alt="">
          <p class="name">{{item.product.name}}</p>
        </div>
        <div class="products__bottom">
          <p class="count">{{item.count}}</p>
          <p class="price">
            {{item.product.price * item.count}}
          </p>
        </div>
      </li>
      <li class="no_border" *ngIf="delivery > 0">
        <p>Доставка: </p>
        <p class="extender"></p>
        <p class="price">{{delivery}}</p>
      </li>
      <li class="no_border">
        <p>Всьогo: </p>
        <p class="extender"></p>
        <p class="price">{{total}}</p>
      </li>
    </ul>
  </mat-card>
</div>