:host {
  display: flex;
  width: 100%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 calc(50vw - 640px);
  margin-top: 2rem;
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background: white;
}
.logo {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #f4f4f4;
  img {
    width: 100%;
    max-width: 300px;
    height: 100%;
  }
}

.contact {
  padding: 1rem;
  justify-content: center;
  form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    mat-form-field {
      width: 100%;
    }
    mat-card-actions {
      justify-content: flex-end;
    }
    @media screen and (max-width: 640px){
      width: 80%;
    }
  }
}

.delivery, .advantages, .partners, .contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #f4f4f4;
  h2 {
    padding: .8rem;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
  }
  &-items {
    display: flex;
    @media screen and (max-width: 640px){
      flex-wrap: wrap;
    }
    width: 100%;
  }
  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 300;
      width: 100%;
      text-align: center;
    }
  }
}

.popular {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #f4f4f4;
  h2 {
    padding: .8rem;
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    width: 100%;
  }
  &-items {
    display: flex;
    width: 100%;
    @media screen and (max-width: 640px){
      flex-wrap: wrap;
    }
  }
}
.product-card {
  margin: .5rem;
  display: flex;
  background: white;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  transition: .2s;
  margin-bottom: 1rem;

  @media screen and (max-width: 640px){
    width: 60%;
    margin: 0 auto 1rem;
  }

  &:focus {
      outline: none;
  }
  &:hover {
      cursor: pointer;
      transform: translateY(-4px);
      box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  }
  .price {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      height: 3rem;
      span {
          color: #2fdab8;
          font-size: 20px;
          line-height: 3rem;
          padding: 0 1rem;
      }
  }
  img {
      width: 60%;
      height: 60%;
      &:focus {
          outline: none;
      }
  }
  .desc {
      width: 100%;
      margin: .5rem 1rem;
      font-size: 15px;
      color: #b3b3b3;
      font-weight: 400;
      text-overflow: ellipsis;
      box-shadow: 0px 1px 1px #f9f9f9;
  }
  .controls {
      align-items: center;
      [mat-raised-button] {
          background-color: #2fdab8;
          color: white;
          font-weight: 700;
          font-size: 1.01rem;
          height: 2.2rem;
          line-height: 2.2rem;
          mat-icon {
              margin-left: .5rem;
          }
      }
      display: flex;
      margin: 0 .5rem .5rem;
      width: 100%;
      justify-content: flex-end;
      .extender {
          flex: 1 1 auto;
      }
      span {
          line-height: 40px;
      }
  }
}