<section class="main">
  <div class="logo">
    <img src="../../../assets/cake.png" alt="">
  </div>
  <div class="delivery">
    <h2>Умови доставки</h2>
    <div class="delivery-items">
      <div class="delivery__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Перший ящик 40 грн + 10грн за кожен наступний
        </p>
      </div>
      <div class="delivery__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Доставка з 10-00 до 22-00
        </p>
      </div>
      <div class="delivery__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          При заказі до 14-00 - доставка в той же день
        </p>
      </div>
    </div>
  </div>

  <div class="popular">
    <h2>Популярні</h2>
    <div class="popular-items">
      <div class="product-card">
        <div class="price" routerLink="/product/1">
          <span>1 грн</span>
        </div>
        <img src="../../../assets/cake.png" alt="cake" routerLink="/product/1">
        <p class="desc" routerLink="/product/1">name</p>
        <div class="controls">
          <div class="extender"></div>
          <button mat-raised-button>Купить
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
      <div class="product-card">
        <div class="price" routerLink="/product/1">
          <span>1 грн</span>
        </div>
        <img src="../../../assets/cake.png" alt="cake" routerLink="/product/1">
        <p class="desc" routerLink="/product/1">name</p>
        <div class="controls">
          <div class="extender"></div>
          <button mat-raised-button>Купить
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
      <div class="product-card">
        <div class="price" routerLink="/product/1">
          <span>1 грн</span>
        </div>
        <img src="../../../assets/cake.png" alt="cake" routerLink="/product/1">
        <p class="desc" routerLink="/product/1">name</p>
        <div class="controls">
          <div class="extender"></div>
          <button mat-raised-button>Купить
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="advantages">
    <h2>Наші переваги</h2>
    <div class="advantages-items">
      <div class="advantages__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Працюємо напряму з виробником
        </p>
      </div>
      <div class="advantages__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Найсвіжіший товар
        </p>
      </div>
      <div class="advantages__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Елітна доставка
        </p>
      </div>
    </div>
  </div>

  <div class="partners">
    <h2>Наші партнери</h2>
    <div class="partners-items">
      <div class="partners__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Світязь
        </p>
      </div>
      <div class="partners__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Белка
        </p>
      </div>
      <div class="partners__item">
        <img src="../../../assets/cake.png" alt="">
        <p>
          Бергамот
        </p>
      </div>
    </div>
  </div>

  <div class="contact">
    <h2>Зв'яжіться з нами</h2>
    <form>
      <mat-form-field>
        <input matInput type="text" placeholder="Ім'я">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Що вас цікавить?"></textarea>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="accent">Відправити</button>
      </mat-card-actions>
    </form>
  </div>
</section>
