// @media all and (max-width: 640px) {
    :host {
        display: none;
    }
// }
form {
    display: flex;
    padding: 0 30px;
}
input {
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #EEEEEE;
    transition: .4s;
    &:focus {
        border: none;
        outline: none;
    }
}
button {
    transition: .4s;
    border: none;
    height: 30px;
    background: #fff;
    padding: 0 15px;
    color: #595959;
    font-size: 15px;
    &:hover {
        cursor: pointer;
    }
}